.footer
  width 100%
  background #ca0000
  height 306px
  padding 42px 42px 0
  min-width 684px
  max-width 940px
  margin 0 auto
  color #999

.copyright
  border-top 1px solid white

.footer-text
  color white
  text-align right
  font-size 14px
  font-family sans-serif
