html
  font-family sans-serif
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  font-size 10px
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)

body
  font-family Helvetica, Arial, sans-serif
  font-size 16px
  line-height 1.5
  color #222326
  background-color white
  font-weight 400
  min-height 100vh
  display -moz-flex
  display -ms-flexbox
  display -ms-flex
  display -webkit-box
  display flex
  -moz-flex-direction column
  -ms-flex-direction column
  -webkit-box-orient vertical
  -webkit-box-direction normal
  flex-direction column

div
  display block

input, button, select, textarea
  font-family inherit
  font-size inherit
  line-height inherit

button,
html input[type='button'],
input[type='reset'], 
input[type='submit']
  -webkit-appearance button
  cursor pointer

button, select
  text-transform none

button
  overflow visible

button, input, optgroup, select, textarea
  color inherit
  font inherit
  margin 0

ul, ol
  margin-top 0
  margin-bottom 12px

ul, menu, dir
  display block
  list-style-type disc
  margin-block-start 1em
  margin-block-end 1em
  margin-inline-start 0px
  margin-inline-end 0px
  padding-inline-start 40px

.sr-only
  position absolute
  width 1px
  height 1px
  margin -1px
  padding 0
  overflow hidden
  clip rect(0, 0, 0, 0)
  border 0

.wrap
  ms-flex-preferred-size auto
  -moz-flex 1
  -ms-flex 1
  -webkit-box-flex 1
  flex 1

*
  -webkit-box-sizing border-box
  box-sizing border-box

.container
  margin-right auto
  margin-left auto
  padding 0 15px 0

header
  background black
  li 
    color white

footer
  background black
  color white

.footer-text
  text-align center

// .App
//   display block
//   background white
//   height 500px

.clearfix:before, 
.clearfix:after, 
.dl-horizontal dd:before, 
.dl-horizontal dd:after, 
.container:before, 
.container:after, 
.container-fluid:before, 
.container-fluid:after, 
.row:before, 
.row:after, 
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before, 
.btn-group-vertical > .btn-group:after, 
.nav:before, 
.nav:after, 
.navbar:before, 
.navbar:after, 
.navbar-header:before, 
.navbar-header:after, 
.navbar-collapse:before, 
.navbar-collapse:after, 
.pager:before, 
.pager:after, 
.panel-body:before, 
.panel-body:after, 
.modal-header:before, 
.modal-header:after, 
.modal-footer:before, 
.modal-footer:after,
.btn-group-vertical > .btn-group-inverse:before, 
.btn-group-vertical > .btn-group-inverse:after, 
.nav-inverse:before, 
.nav-inverse:after
  content " "
  display table

*:before, 
*:after
  -webkit-box-sizing border-box
  box-sizing border-box

main   
  margin-top 72px
  padding-bottom 10px

ul
  list-style-type none

// ul li
//   display inline-block
