.footer
  width 100%
  background #b70e0e
  height 306px
  padding 42px 42px 0
  min-width 684px
  max-width 940px
  margin 0 auto
  color #999

.copyright
  position absolute
  border-top 1px solid white
  bottom 20px
  padding-top 10px

.footer-text
  // bottom 10px
  color white
  text-align right
  font-size 14px
  font-family sans-serif
