.footer
  postion fixed
  width 100%
  left 40px
  bottom 20px
  background #b70e0e
  color white

.footer-text
  position absolute
  bottom 10px
  text-align center
  font-size 14px
  padding 53px 15px 16px
