.home
  position relative
  background #008f8f
  width 100%
  display block
  text-align center
  font-size 3.4em
  font-weight bold
  padding 200px
  color white

.hero_txt_wrap
  // not working for centering div
  // position absolute
  // left 50%
  // right 50%
  // text-align center
  // max-width 650px
  // margin-left auto
  // margin-right auto
  // width 650px
  position relative
  span
    padding 10px